// skull
$skull-size: 60px;

// loader
$default-loader-color: #b92b27;
$night-loader-color: #00c0ff;
$amoledblack-loader-color: white;

// header bg
$default-header-bg: #b92b27;
$night-header-bg: #393e46;
$amoledblack-header-bg: black;

// header bg active
$default-header-bg-active: #be3e3b;
$night-header-bg-active: #4f545c;
$amoledblack-header-bg-active: #222;

// font color
$default-font-color: #333;
$night-font-color: #c1c1c1;
$amoledblack-font-color: white;

// bg color
$default-bg-color: #f2f3f5;
$night-bg-color: #2b2d31;
$amoledblack-bg-color: black;

// wrapper bg color
$default-wrapper-bg: white;
$night-wrapper-bg: #36393f;
$amoledblack-wrapper-bg: black;

// header link
$default-header-link: white;
$night-header-link: #fff;
$amoledblack-header-link: white;

// secondary font color
$default-secondary-font-color: #818181;
$night-secondary-font-color: #999;
$amoledblack-secondary-font-color: #999;

// header border bottom
$default-header-border: #a42926;
$night-header-border: #2a2d32;
$amoledblack-header-border: #333;

// settings bg
$default-settings-bg: #e6e6e6;
$night-settings-bg: #2f3136;
$amoledblack-settings-bg: #111;

// item border bottom
$default-item-border: #e9e9e9;
$night-item-border: #40444b;
$amoledblack-item-border: #333;

// link color
$default-link-color: #b92b27;
$night-link-color: #00c0ff;
$amoledblack-link-color: white;

// skull head bg
$default-skull-head-bg: #ccc;
$night-skull-head-bg: #999;
$amoledblack-skull-head-bg: #ccc;

// skull head eyes
$default-skull-eyes: #333;
$night-skull-eyes: #333;
$amoledblack-skull-eyes: #333;

// skull crack
$default-skull-crack: darken(#ccc, 10%);
$night-skull-crack: darken(#999, 10%);
$amoledblack-skull-crack: darken(#ccc, 10%);

// skull crack triangle
$default-skull-crack-triangle: darken(#ccc, 10%);
$night-skull-crack-triangle: darken(#999, 10%);
$amoledblack-skull-crack-triangle: darken(#ccc, 10%);

// skull mouth bg
$default-skull-mouth-bg: #aaa;
$night-skull-mouth-bg: #777;
$amoledblack-skull-mouth-bg: #aaa;

// skull mouth nose
$default-skull-nose: darken(#ccc, 15%);
$night-skull-nose: darken(#999, 15%);
$amoledblack-skull-nose: darken(#ccc, 15%);

// skull teeth
$default-skull-teeth: white;
$night-skull-teeth: #ccc;
$amoledblack-skull-teeth: white;
