@import "../styles/media";
@import "../styles/theme_variables";

.feed {
  .item-list {
    padding-left: 25px;
    margin-top: 10px;

    @media #{$mobile-only} {
      list-style-type: none;
      padding-left: 0;
      margin-top: 60px;
    }
  }
}

.pagination {
  padding: 10px 15px 30px;
  font-size: 17px;
  letter-spacing: 2px;

  a {
    text-decoration: none;
    margin-right: 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  @media #{$mobile-only} {
    text-align: center;
    padding: 20px 0 30px;
  }
}
